xsd/internal/groups_sites/getGroupNameBySiteId.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:poc_energisme_ns="http://www.convertigo.com/convertigo/projects/poc_energisme" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/poc_energisme">
    <xsd:element name="groups_sites__getGroupNameBySiteId" type="poc_energisme_ns:groups_sites__getGroupNameBySiteIdRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="groups_sites__getGroupNameBySiteIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="poc_energisme_ns:groups_sites__getGroupNameBySiteIdResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="groups_sites__getGroupNameBySiteIdResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="poc_energisme_ns:groups_sites__getGroupNameBySiteIdResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="groups_sites__getGroupNameBySiteIdRequestData">
        <xsd:sequence>
            <xsd:element name="_use_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Return only documents that match the specified key. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output_total_rowsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_item_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_item_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_item_idType"/>
            <xsd:element minOccurs="0" name="key" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_item_keyType"/>
            <xsd:element minOccurs="0" name="value" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Transfer-Encoding" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="Server" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="Transfer_Encoding" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="statusCode" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_statusCodeType"/>
            <xsd:element minOccurs="0" name="status" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="headers" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMeta_headersType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="groups_sites_getGroupNameBySiteId_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="total_rows" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output_total_rowsType"/>
            <xsd:element minOccurs="0" name="offset" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="_c8oMeta" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_output__c8oMetaType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="groups_sites__getGroupNameBySiteIdResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="poc_energisme_ns:groups_sites_getGroupNameBySiteId_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="poc_energisme_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="poc_energisme_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="poc_energisme_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
